<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAPIDevSugar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VPN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VPN2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vpn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>021CAA791BFDE47900383DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021CAA8B1BFDE49B00383DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>021CAA9C1BFDE9DF00383DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>023210231BFDD08400F5992D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
